- provide(:title, 'Sign In')

%h1
	Sign In
.row
	.small-8.large-6.small-centered.columns
		= form_for(:session, url: sessions_path) do |f|
			= f.label :email
			= f.text_field :email
			= f.label :password
			= f.password_field :password
			= f.submit "Sign In", class: "button small-centered columns submitButton"
		%p
			New User? #{link_to "Sign up now!", signup_path}
	