-provide(:title, 'Update Your Profile')

.row
	.small-8.large-6.small-centered.columns
		= form_for(@user, form: "email") do |f|
			%p
				Change Your Email
			= f.label :email
			= f.text_field :email
			= f.submit "Change Email", class: "button"
	.small-8.large-6.small-centered.columns
		=form_for(@user, form: "password") do |f|
			%p
				Change Your Password
			= f.label :password
			= f.text_field :password
			= f.submit "Change Password", class: "button"